{%  extends 'base.html'  %}

{% block styles %}
         {{ super() }}
         <link rel="stylesheet" href="{{url_for('static', filename='articles.css')}}" >
{% endblock %}

{% block content %}
<div class="container-fluid" >
    <div class="row">

        {% for article in articles %}
        <div class="col-md-4" >
            <div class="card border-danger" style="min-height: 500px; margin-bottom: 20px;">
                <div class="card-header" >
                    <h4 class="title" style="padding-top: 15px; padding-right: 15px; padding-left: 15px; color: blue;">
                        {{article.title}}
                    </h4>
                </div>
                <div class="card-body">
                    <p class="desc" style="padding-left: 15px;">
                        {{article.description}}
                    </p>
                    <p class="author" style="padding-left: 15px;">
                        By <span style="font-weight: bold;">{{article.author}} </span> 
                    </p>
                    <p class="date" style="padding-left: 15px;">
                        {{article.publishedAt}} 
                    </p>
                    <div class="article-img">
                        <img src="{{article.urlToImage}}" class="img-responsive" alt="image" style="height: 200px; padding-left: 15px;">
                    </div>
                    <div>
                        <a href="{{article.url}}" class="btn btn-primary" target="_blank" style="font-style: italic; margin-top: 10px; margin-left: 15px;">Read full story</a>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock%} 